
@use '../abstracts/variables' as var;
@import '../abstracts/mixins';

nav {
	display: flex;
	height: 100%;
	align-items: center;
	transition: background-color 0.3s ease-out;
	list-style: none;
	text-decoration: none;
	li {
		margin: 0 0.5em;
	}
	div {
		height: 100%;
	}
}

#ham-nav {
	display: none;
}


nav {
	label {
	display: none;
	}
	input {
		display: none;
	}
}



.active {
	display:flex;
	height: 100%;
	align-items: center;
	background-color: white;
	color: var.$secondary-orange;
}

.active:hover {
	text-decoration: inherit;
	color: var.$secondary-orange;
}

.inactive {
	display:flex;
	height: 100%;
	align-items: center;
	background-color: var.$secondary-orange;
	color: white;
	transition: background-color 0.3s ease-out;
}

.inactive:hover {
	background-color: white;
	color: var.$secondary-orange;
	text-decoration: inherit;
	display:flex;
	height: 100%;
	align-items: center;
}

.rcfd-logo {
	height: 6rem;
	width: 4.5rem
}



@media only screen and (max-width: 600px) {
	nav {
		
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-start;
		label{
			display:flex; 
			color: white;
			font-style: normal;
			font-size: 2.5em;
			margin: 0;
		}
		input{
			display: block;
			visibility: hidden;
		}
	}

	#ham-items {
		
		@include appear;
		position: absolute;
		z-index: 2;
		top: 9vh;
		display: none;
		flex-direction: column;
		height: 30vh;
		width:100%;
		a{
			display: flex;
			justify-content: center;
			width: 100vw;
		}
	}

	nav input:checked ~ #ham-items {
		display: flex;
		transition: display 1s ease-out;
		opacity: 0;
		
		
	}

}