
.custom-card {
    margin: 5%;
    position: relative;
    width: 22rem;
    height: 20rem;
    //background-color: black;
    box-shadow: 0px 30px 30px rgba(0,0,0,0.5);
    overflow: hidden;
}
.custom-card {
    .custom-card-content-hidden{
        button {
            background-color: red;
            transition: 0.2s;
        }
        button:hover {
            background-color: maroon;
        }
    }
}


.custom-card-content-initial {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 10%;
    top: 0;
    width: 80%;
    height: 8rem;
    padding: 0.5rem;
    background-color: white;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
    p {
        transition: 0.5s;
        margin-bottom: 0;
    }
}

.custom-card-content-hidden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10%;
    bottom: -100%;
    height: 100%;
    width: 80%;
    //height: 0;
    text-align: center;
    background-color: white;
    transition: 0.5s;
}

.custom-card-image {
    width: 100%;
    height: 20rem;
}

.custom-card:hover .custom-card-content-hidden {
    
    bottom: 0;
}

.custom-card:hover .custom-card-content-initial {
    opacity: 0;
}





// .card {
// 	position: relative;
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     min-width: 0;
//     word-wrap: break-word;
//     background-color: #fff;
//     background-clip: border-box;
//     border-radius: .25rem;
// 	border:none;
// 	margin-top:1.5rem;
// 	margin-bottom:1.5rem;
// 	margin-left:1.5rem;
// 	margin-right:1rem;
// 	width: 24rem;
// }

// .card-img-top {
// 	position: absolute;
// 	height: 58%;
// 	object-fit: cover;
// }

// .card-img-overlay {
// 	position: relative;
// 	padding-top: 1rem;
// 	padding-bottom: 1rem;
// 	padding-left: 1.25rem;
// 	padding-right: 1rem;
// }

// .card-body {
// 	border-bottom:4px solid rgba(0, 0, 0, .15);
// 	border-right:4px solid rgba(0, 0, 0, .15);
// 	background-color: white;
// 	margin-top:10em;
// 	width: 90%;
// }

// .card-date {
// 	border-bottom:4px solid rgba(0, 0, 0, .15);
// 	border-right:4px solid rgba(0, 0, 0, .15);
// 	background-color: white;
//   	position: absolute;
//   	bottom: 85%;
//  	left: 95%;
//   	transform: translate(-50%, -50%);
// 	height: 4rem;
// }