$primary-font: Proza Libre, sans-serif;
$secondary-font: Opens Sans, sans-serif;

$primary-orange: #EB600B;
$secondary-orange: #F59719;


$primary-green: #2E8B57;


  
  .green-blue {
      background-color:#426F7E; 
  }
  
  .primary-orange {
      background-color: #EB600B;
  }


  




hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 0px;
    border-top: 1px solid #444444;
}









div.item:hover img{
    opacity:0.3;
    filter: grayscale(100%);
  }
  
  div.item:hover p{
    opacity:0.3;
    filter: grayscale(100%);
  }
  
  div.item:hover h3{
    opacity:0.3;
    filter: grayscale(100%);
  }
  
  a:hover {
      color: #EB600B;
  }
  
  