@use '../abstracts/variables' as var;

#admin-control-panel {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	width: 20rem;
	flex-direction: column;
	padding: 1rem;
	border: 2px solid var.$primary-orange;
	border-radius: 10px;
	.admin-control-panel-buttons {
		width: 100%;
		display: flex;
		justify-content: space-around;
		margin: 0.5rem;
	}
}


.events-gallery {
	display: flex;
	// align-items: flex-start;
	// justify-content: flex-start;
	flex-wrap:wrap;
	//Flex-basis: 350px;
}

#events-tab {
	border: 2px solid black;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 0;
	padding-right: 2rem;
}



#learn-more {
	display:flex;
	flex-direction: column;
	margin-top: 50px;
}

// #event-box {
// 	background-color: #426F7E;
// 	width: 100%;
// 	padding: 1.5rem;
// 	display: flex;
// }

.event-box-excerpt{
	margin:1.5rem;
	padding: 1.5rem;
	width: 70%;
	justify-content: space-between;
}

.event-box-btn-sm {
	display:none;
}

.event-box-title{
	width: 30%;
	margin:auto;
}

.social-media-share-links:hover {
	opacity: 0.8;
}

#more-info-box {
	background-color:#2E8B57; 
	width: 100%;
	padding: 20px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#more-info-box-title {
	text-align: center;
}

#more-info-box-partner {
	display:flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 20px
}

#more-info-box p {
	flex-grow:4;
}

#more-info-box a {
	flex-basis: 300px
	
}

#more-info-box-event {
	display:flex;
	justify-content: space-around;
	align-items: center;
}

#events-and-workshop-btn {
	display:flex;
}




@media only screen and (max-width: 600px) {
	#admin-control-panel {
		display: flex;
		margin-top: 2rem;
		align-items: center;
		width: 100%;
		flex-direction: column;
		.admin-control-panel-buttons {
			width: 100%;
			display: flex;
			justify-content: space-around;
			margin: 0.5rem;
		}
	}

}