.green-blue {
  background-color: #426F7E;
}

.primary-orange {
  background-color: #EB600B;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid #444444;
}

div.item:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item:hover p {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item:hover h3 {
  opacity: 0.3;
  filter: grayscale(100%);
}

a:hover {
  color: #EB600B;
}

@keyframes slide {
  from {
    margin-top: -50%;
  }
  to {
    margin-top: 0%;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.green-blue {
  background-color: #426F7E;
}

.primary-orange {
  background-color: #EB600B;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid #444444;
}

div.item:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item:hover p {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item:hover h3 {
  opacity: 0.3;
  filter: grayscale(100%);
}

a:hover {
  color: #EB600B;
}

.container {
  width: 70%;
  margin: auto;
}

.green-blue {
  background-color: #426F7E;
}

.primary-orange {
  background-color: #EB600B;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid #444444;
}

div.item:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item:hover p {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item:hover h3 {
  opacity: 0.3;
  filter: grayscale(100%);
}

a:hover {
  color: #EB600B;
}

body {
  font-family: Proza Libre, sans-serif;
  font-size: 100%;
}

body, html {
  height: 100%;
}

.hr1 {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: black;
  height: 1px;
}

.body-copy-white {
  font-family: Opens Sans, sans-serif;
  color: white;
}

.body-copy-black {
  font-family: Opens Sans, sans-serif;
  color: black;
}

.body-copy-small-white {
  font-family: Opens Sans, sans-serif;
  font-size: 50%;
  color: white;
}

.body-copy-small-black {
  font-family: Opens Sans, sans-serif;
  font-size: 50%;
  color: black;
}

.h1-white {
  font-size: 250%;
  color: white;
}

.h1-black {
  font-size: 250%;
  color: black;
}

.h3-black {
  font-size: 150%;
  color: black;
}

.h3-white {
  font-size: 150%;
  color: white;
}

.h2-black {
  font-size: 200%;
  color: black;
}

.h2-white {
  font-size: 200%;
  color: white;
}

.h2-orange {
  font-size: 200%;
  color: #EB600B;
}

.h3-orange {
  font-size: 200%;
  color: #EB600B;
}

.body-copy-orange {
  font-family: Opens Sans, sans-serif;
  color: #EB600B;
}

li {
  list-style-type: none;
}

ul {
  padding-inline-end: 2em;
  padding-inline-start: 0em;
}

.green-blue {
  background-color: #426F7E;
}

.primary-orange {
  background-color: #EB600B;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid #444444;
}

div.item:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item:hover p {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item:hover h3 {
  opacity: 0.3;
  filter: grayscale(100%);
}

a:hover {
  color: #EB600B;
}

@keyframes slide {
  from {
    margin-top: -50%;
  }
  to {
    margin-top: 0%;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
nav {
  display: flex;
  height: 100%;
  align-items: center;
  transition: background-color 0.3s ease-out;
  list-style: none;
  text-decoration: none;
}
nav li {
  margin: 0 0.5em;
}
nav div {
  height: 100%;
}

#ham-nav {
  display: none;
}

nav label {
  display: none;
}
nav input {
  display: none;
}

.active {
  display: flex;
  height: 100%;
  align-items: center;
  background-color: white;
  color: #F59719;
}

.active:hover {
  text-decoration: inherit;
  color: #F59719;
}

.inactive {
  display: flex;
  height: 100%;
  align-items: center;
  background-color: #F59719;
  color: white;
  transition: background-color 0.3s ease-out;
}

.inactive:hover {
  background-color: white;
  color: #F59719;
  text-decoration: inherit;
  display: flex;
  height: 100%;
  align-items: center;
}

.rcfd-logo {
  height: 6rem;
  width: 4.5rem;
}

@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
  nav label {
    display: flex;
    color: white;
    font-style: normal;
    font-size: 2.5em;
    margin: 0;
  }
  nav input {
    display: block;
    visibility: hidden;
  }

  #ham-items {
    animation: appear 0.5s forwards;
    position: absolute;
    z-index: 2;
    top: 7vh;
    display: none;
    flex-direction: column;
    height: 30vh;
    width: 100%;
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  #ham-items a {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  nav input:checked ~ #ham-items {
    display: flex;
    transition: display 1s ease-out;
    opacity: 0;
  }
}
@keyframes slide {
  from {
    margin-top: -50%;
  }
  to {
    margin-top: 0%;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#nav-grid-container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 7vh 93vh auto auto auto auto;
}

header {
  grid-column: 1/span 3;
  grid-row: 1/span 1;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 7vh;
}
header div {
  grid-column: 2/span 1;
}

#landing-content {
  display: grid;
  grid-column: 2/span 1;
  grid-row: 2/span 2;
  grid-template-rows: 90vh auto auto;
}

#coaches {
  grid-column: 2/span 1;
  grid-row: 2/span 2;
  animation: slide 2s, appear 2s;
}
@keyframes slide {
  from {
    margin-top: -50%;
  }
  to {
    margin-top: 0%;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#events-selector {
  grid-column: 2/span 1;
  grid-row: 2/span 2;
  animation: slide 2s, appear 2s;
}
@keyframes slide {
  from {
    margin-top: -50%;
  }
  to {
    margin-top: 0%;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#show-event {
  grid-column: 2/span 1;
  grid-row: 2/span 2;
  animation: slide 2s, appear 2s;
}
@keyframes slide {
  from {
    margin-top: -50%;
  }
  to {
    margin-top: 0%;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#show-event-content {
  display: grid;
  grid-template-columns: 20vw 1fr;
}

#event-box {
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 1fr 1fr;
}
#event-box h1 {
  grid-column: 1;
  grid-row: 1;
}
#event-box a {
  grid-column: 1;
  grid-row: 2;
}
#event-box h3 {
  grid-column: 2;
  grid-row: 1;
}

#event-form {
  grid-column: 2/span 1;
  grid-row: 2/span 2;
  animation: slide 2s, appear 2s;
}
@keyframes slide {
  from {
    margin-top: -50%;
  }
  to {
    margin-top: 0%;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#login-page {
  grid-column: 2/span 1;
}

#resources {
  grid-column: 2/span 1;
  grid-row: 2/span 3;
}

#email-subscribe {
  grid-column: 2/span 1;
  grid-row: 5/span 1;
}

footer {
  grid-column: 1/span 3;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-row: 6/span 1;
}
footer div {
  grid-column: 2/span 1;
}

/* Extra small devices (phones, less than 600px wide) */
@media only screen and (max-width: 600px) {
  #nav-grid-container {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 7vh 93vh auto auto auto;
  }

  header {
    grid-column: 1/span 3;
  }
}
/* Extra small devices (phones, less than 600px wide) */
@media only screen and (max-width: 1100px) {
  #show-event-content {
    grid-template-columns: auto;
  }
}
/* Small devices (portrait tablets & large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops & desktops, 1200px and up) */
.green-blue {
  background-color: #426F7E;
}

.primary-orange {
  background-color: #EB600B;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid #444444;
}

div.item:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item:hover p {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item:hover h3 {
  opacity: 0.3;
  filter: grayscale(100%);
}

a:hover {
  color: #EB600B;
}

@keyframes slide {
  from {
    margin-top: -50%;
  }
  to {
    margin-top: 0%;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  opacity: 0;
  color: white;
  z-index: 10;
  background-color: #F59719;
  animation: 1s fade-in 0.5s forwards;
}
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  header {
    position: fixed;
    width: 100%;
    height: 7vh;
  }
  header div {
    z-index: 10;
  }
}
.bh-eu-me {
  width: 20%;
  height: auto;
  padding-bottom: 4px;
  padding: 0.25rem;
}

.footer-images {
  max-width: 8%;
  height: auto;
}

footer {
  background-color: #707070;
  width: 100%;
}

#about-content {
  display: flex;
  justify-content: space-between;
}

#spending-organisation-logos {
  display: flex;
  justify-content: space-between;
}

#funding-organisation-logos {
  display: flex;
  justify-content: space-around;
}

#about-content-info {
  display: flex;
  justify-content: space-between;
}

#about-content-logos {
  display: flex;
  justify-content: flex-end;
}

.green-blue {
  background-color: #426F7E;
}

.primary-orange {
  background-color: #EB600B;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid #444444;
}

div.item:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item:hover p {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item:hover h3 {
  opacity: 0.3;
  filter: grayscale(100%);
}

a:hover {
  color: #EB600B;
}

.btn-primary {
  color: white;
  background-color: #EB600B;
  border-color: #EB600B;
}

.btn-primary:hover {
  color: white;
  background-color: #F59719;
  border-color: #F59719;
}

.btn-secondary {
  color: white;
  background-color: #F59719;
  border-color: #F59719;
  margin-left: auto;
  margin-right: auto;
}

.btn-secondary:hover {
  color: white;
  background-color: #EB600B;
  border-color: #EB600B;
}

.btn-outline-dark:hover {
  color: white;
  background-color: #EB600B;
  border-color: #EB600B;
}

.custom-card {
  margin: 5%;
  position: relative;
  width: 22rem;
  height: 20rem;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.custom-card .custom-card-content-hidden button {
  background-color: red;
  transition: 0.2s;
}
.custom-card .custom-card-content-hidden button:hover {
  background-color: maroon;
}

.custom-card-content-initial {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 10%;
  top: 0;
  width: 80%;
  height: 8rem;
  padding: 0.5rem;
  background-color: white;
  justify-content: center;
  text-align: center;
  transition: 0.5s;
}
.custom-card-content-initial p {
  transition: 0.5s;
  margin-bottom: 0;
}

.custom-card-content-hidden {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10%;
  bottom: -100%;
  height: 100%;
  width: 80%;
  text-align: center;
  background-color: white;
  transition: 0.5s;
}

.custom-card-image {
  width: 100%;
  height: 20rem;
}

.custom-card:hover .custom-card-content-hidden {
  bottom: 0;
}

.custom-card:hover .custom-card-content-initial {
  opacity: 0;
}

.testTest {
  color: red;
  background-color: blue;
}

#coachesPageTitle {
  padding-top: 2em;
  padding-bottom: 2em;
}

.coachImage {
  width: 25%;
}

.coachImage img {
  width: 100%;
}

.coachTitle {
  padding-bottom: 1em;
}

.coachText {
  width: 70%;
}

#coach-layout {
  display: flex;
  flex-wrap: wrap;
}

.coachSection {
  display: flex;
  padding-bottom: 2em;
  justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
  .coachSection {
    flex-direction: column;
    width: 100%;
  }

  .coachImage {
    width: 100%;
  }

  .coachText {
    width: 100%;
  }
}
#admin-control-panel {
  display: flex;
  align-items: center;
  width: 25%;
  flex-direction: column;
}
#admin-control-panel .admin-control-panel-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0.5rem;
}

.events-gallery {
  display: flex;
  flex-wrap: wrap;
}

#events-tab {
  border: 2px solid black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0;
  padding-right: 2rem;
}

#learn-more {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.event-box-excerpt {
  margin: 1.5rem;
  padding: 1.5rem;
  width: 70%;
  justify-content: space-between;
}

.event-box-btn-sm {
  display: none;
}

.event-box-title {
  width: 30%;
  margin: auto;
}

.social-media-share-links:hover {
  opacity: 0.8;
}

#more-info-box {
  background-color: #2E8B57;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#more-info-box-title {
  text-align: center;
}

#more-info-box-partner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

#more-info-box p {
  flex-grow: 4;
}

#more-info-box a {
  flex-basis: 300px;
}

#more-info-box-event {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#events-and-workshop-btn {
  display: flex;
}

@keyframes slide {
  from {
    margin-top: -50%;
  }
  to {
    margin-top: 0%;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#hero {
  height: 100%;
}

#hero-image {
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  z-index: -1;
  background-color: #80a3db;
  background-image: url(../images/nae1.jpg);
}

#hero-content {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  opacity: 0;
  padding-bottom: 100px;
  animation: 1s slidefade 1s forwards;
}
@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

#learn-more h2 {
  text-align: center;
}

#landing-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 70vh;
}

#events-gallery-container .btn {
  width: 14rem;
}

#landing-quote-box {
  background-color: #426F7E;
  height: 50%;
  margin-bottom: 6em;
}

@media only screen and (max-width: 600px) {
  #learn-more {
    text-align: center;
  }

  #events-gallery-container {
    text-align: center;
  }
}
#event-box-extra-info {
  display: flex;
  flex-direction: column;
}
#event-box-extra-info h1 {
  display: flex;
  justify-content: space-around;
}
#event-box-extra-info div {
  display: flex;
  justify-content: space-around;
}

#event-box {
  background-color: #426F7E;
  width: 100%;
  padding: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#event-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

@media only screen and (max-width: 1100px) {
  #event-box-extra-info {
    margin: auto;
    margin-bottom: 2rem;
    width: 70%;
    padding-top: 1rem;
  }
  #event-box-extra-info div {
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #event-box {
    display: flex;
    flex-direction: column;
  }
  #event-box h1 {
    order: 1;
  }
  #event-box a {
    order: 3;
  }
  #event-box h3 {
    order: 2;
  }
}
#resources {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.resourcesDescription {
  padding-bottom: 2em;
}

.youtubeSection {
  display: flex;
  flex-direction: column;
  padding-bottom: 10em;
}

.youtubeVideo {
  width: 100%;
  text-align: center;
}

.youtubeVideo iframe {
  width: 100%;
  height: 45em;
}

.youtubeSectionTitle {
  text-align: center;
  padding-top: 2em;
}

.youtubeSectionDescription {
  text-align: center;
  padding-top: 2em;
}

.green-blue {
  background-color: #426F7E;
}

.primary-orange {
  background-color: #EB600B;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid #444444;
}

div.item:hover img {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item:hover p {
  opacity: 0.3;
  filter: grayscale(100%);
}

div.item:hover h3 {
  opacity: 0.3;
  filter: grayscale(100%);
}

a:hover {
  color: #EB600B;
}

#login-page {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px #EB600B;
  border-radius: 10px;
  width: 20%;
  padding: 2rem;
}
#login-page .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login-page button {
  margin: 0.5rem;
}

#email-subscribe {
  display: flex;
  flex-direction: column;
  background-color: #2E8B57;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}
#email-subscribe h1 {
  margin: 1rem;
}
#email-subscribe form {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1rem;
}
#email-subscribe form input {
  width: 25%;
  height: 2.25rem;
  margin: 0.5rem;
}
#email-subscribe form button {
  height: 2.25rem;
}

@media only screen and (max-width: 1100px) {
  #email-subscribe form {
    flex-direction: column;
  }
  #email-subscribe form input {
    width: 75%;
  }
  #email-subscribe form button {
    width: 40%;
  }
}

/*# sourceMappingURL=main.css.map */
