.bh-eu-me {
	width:20%;
	height: auto;
	padding-bottom: 4px;
	padding: 0.25rem;
}

.footer-images{
    max-width: 8%;
      height: auto;
}

footer {
	background-color: #707070;
  	width: 100%;	  
}

#about-content {
	display: flex;
	justify-content: space-between;
}

#spending-organisation-logos {
	display: flex;
	justify-content: space-between;
}

#funding-organisation-logos {
	display: flex;
	justify-content: space-around;
}

#about-content-info {
	display: flex;
	justify-content: space-between;
}

#about-content-logos {
	display: flex;
	justify-content: flex-end;
}