
#page-container {
    position: relative;
    min-height: 100vh;
  }
  

  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

  
nav {
	list-style: none;
}



@media only screen and (max-width: 992px) {
	header .h3w {
		font-size: 20px;
	}
}