@use '../abstracts/variables' as var;

body {
	font-family: var.$primary-font;
    font-size: 100%
}

body, html {
  height: 100%;
}

.hr1 {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: black;
    height: 1px;
  }

  
.body-copy-white {
	font-family: var.$secondary-font;
	color: white;
}

.body-copy-black {
	font-family: var.$secondary-font;
	color: black;
}

.body-copy-small-white {
	font-family: var.$secondary-font;
    font-size: 50%;
	color: white;
}

.body-copy-small-black {
	font-family: var.$secondary-font;
    font-size: 50%;
	color: black;
}

.h1-white {
    font-size: 250%;
	color: white;
}

.h1-black {
    font-size: 250%;
	color: black;
}

.h3-black {
    font-size: 150%;
    color: black;
}

.h3-white {
    font-size: 150%;
    color: white;
}

.h2-black {
    font-size: 200%;
    color: black;
}

.h2-white {
    font-size: 200%;
    color: white;
}

.h2-orange {
	font-size: 200%;
	color: var.$primary-orange;
}

.h3-orange {
    font-size: 200%;
	color: var.$primary-orange;
}

.body-copy-orange {
	font-family: var.$secondary-font;
	color: var.$primary-orange;
}

li {
    list-style-type: none
}

ul {
    padding-inline-end: 2em;
    padding-inline-start: 0em;
}
